.container {
    display: flexbox;
    position: absolute;
    max-width: 50vw;
    max-height: 80vh;
    border: 5px solid blue;
    padding: 10px;
    background-color: lightcyan;
    margin-left:  40%;
}

.none {
    display: none !important;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: darkblue;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
}

button {
    border-radius: 25px;
    border: none;
    font-weight: bold;
}

.empty-list_title {
    color: grey;
    font-size: large;
}
 


