.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    max-height: 100%;
    border: 5px solid blue;
    padding: 20px;
    background-color: lightcyan;
    margin:auto;
}

.none {
    display: none !important;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: darkblue;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
}

button {
    border-radius: 25px;
    border: none;
    padding: 10px;
    font-weight: bold;
}

.empty-list_title {
    color: grey;
    font-size: large;
}
 


